extends ../base

block content
    .video__edit-form
        .video__form-header
            h2.form-title Update Video
        form(method="POST", enctype="multipart/form-data" class="video-edit-form")
            .form-group
                label(for="video") Video
                input(type="file", id="video", name="video", accept="video/*")
            .form-group
                label(for="thumb") Thumbnail
                input(type="file", accept="image/*", name="thumb", id="thumb")
            .form-group
                label(for="title") Title
                input(type="text", placeholder=video.title, name="title", id="title", value=video.title, required, maxlength=80)
            .form-group
                label(for="description") Description
                input(type="text", placeholder=video.description, name="description", id="description", value=video.description, required, minlength=20)
            .form-group
                label(for="hashtags") Hashtags
                input(type="text", placeholder="Hashtags, separated by comma.", name="hashtags", id="hashtags", value=video.hashtags.join(), required)
            .form-group
                input(type="submit", value="Save", id="edit-btn")