extends ../base

block content   
    div#videoContainer(data-videoId=video._id).videoContainer
        i.fas.fa-regular.fa-play#videoPlayBtn
        div#videoPlayBtnContainer
            video(src="/"+video.fileUrl).video
            
        div#videoControls.videoControls
            div#play 
                i.fas.fa-regular.fa-play#playBtnIcon
            div#time 
                span#currentTime 00:00:00
                span  / 
                span#totalTime 00:00:00
            div 
                input(type="range",step="1",value=0, min=0)#timeline
            
            input(type="range",step="0.1",value=0.5, min=0, max=1)#volume
            div#mute
                i.fas.fa-volume-high#muteBtnIcon

            div 
                div#fullScreen
                    i.fas.fa-expand#fullScreenBtn
    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video__createdAt=video.createdAt
        if String(video.owner._id) === String(loggedInUser._id)
            br
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts 
    script(src="/assets/js/videoPlayer.js")
