extends base

block content   
    h1 #{video.title}!
    a(href=`${video.id}/edit`) Edit Video &rarr;
    div         
        ul  
            li #{video.rating} / 5
            li #{video.comments} comments.
            li Posted #{video.createdAt}
            li #{video.views} #{video.views === 1? "view" : "views"}